/* Fonte Resoft personalizada */
@font-face {
  font-family: 'Resoft';
  src: url('../fonts/Resoft.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Fonte Montserrat via Google Fonts jรก carregada no <head> do index.html */
body {
  font-family: 'Montserrat', sans-serif;
}
